.DS_Store
__pycache__/
*.py[cod]
.venv/
backend/.venv/
backend/storage/
result/
userdata/
papers/
架构规划说明.txt
.env
.paperlight-admin-credentials
*.log
node_modules/
.npm-cache/
.next-swc-cache/
.next/
*.tsbuildinfo

/apps/web/public/pdf.worker.min.mjs
/apps/web/public/pdf-cmaps/
/apps/web/public/pdf-fonts/
